<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="red">Series</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-searchbar showCancelButton="never" placeholder="Pesquisar" ></ion-searchbar>

    <ion-item>
      <div>
      <ion-thumbnail slot="start">
          <img
            src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/vOmw9nQtSjd5Ub7UZktDxHw24oi.jpg"
          />
        </ion-thumbnail>
      </div>
      <pre> </pre>
      <div class="halo">
        <ion-label
          >Halo
          <ion-badge color="red" slot="end">16</ion-badge>
          <ion-label>
            <p>24/03/2022 (BR) 1h 10m</p>
          </ion-label>
        </ion-label>

        <div class="categoria">
          <ion-chip color="ciano">
            <ion-label>Ação</ion-label>
          </ion-chip>

          <ion-chip color="warning">
            <ion-label>Ficção científica</ion-label>
          </ion-chip>

          <ion-chip color="success">
            <ion-label> aventura</ion-label>
          </ion-chip>
        </div>
      </div>
    </ion-item>

    <ion-item>
      <div>
      <ion-thumbnail slot="start">
          <img
            src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/8rbxvwGpPd9MWjdhAoSBj016cns.jpg"
          />
        </ion-thumbnail>
      </div>
      <pre> </pre>
      <div class="power">
        <ion-label
          >Power Book II: Ghost
          <ion-badge color="red" slot="end">16</ion-badge>
          <ion-label>
            <p>06/09/2020 (BR) 1h</p>
          </ion-label>
        </ion-label>
        <div class="categoria">
          <ion-chip color="red">
            <ion-label>Crime</ion-label>
          </ion-chip>

          <ion-chip color="roxo">
            <ion-label>Drama </ion-label>
          </ion-chip>
        </div>
      </div>
    </ion-item>

    <ion-item>
      <div>
      <ion-thumbnail slot="start">
          <img
            src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/bGZn5RVzMMXju4ev7xbl1aLdXqq.jpg"
          />
        </ion-thumbnail>
      </div>
      <pre> </pre>
      <div class="peaky">
        <ion-label
          >Peaky Blinders
          <ion-badge color="preto" slot="end">18</ion-badge>
          <ion-label>
            <p>12/09/2013 (BR) 58m</p>
          </ion-label>
        </ion-label>

        <div class="categoria">
          <ion-chip color="red">
            <ion-label>Crime</ion-label>
          </ion-chip>

          <ion-chip color="roxo">
            <ion-label>Drama </ion-label>
          </ion-chip>
        </div>
      </div>
    </ion-item>

    <ion-item>
      <div>
      <ion-thumbnail slot="start">
          <img
            src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/wnJzgLcf4OCGSiqHsAnkjNdQm7Z.jpg"
          />
        </ion-thumbnail>
      </div>
      <pre> </pre>
      <div class="lacasa">
        <ion-label
          >La Casa de Papel
          <ion-badge color="red" slot="end">16</ion-badge>
          <ion-label>
            <p>02/05/2017 (BR) 53m</p>
          </ion-label>
        </ion-label>

        <div class="categoria">
          <ion-chip color="bbb">
            <ion-label>Documentario</ion-label>
          </ion-chip>
        </div>
      </div>
    </ion-item>

    <ion-item>
      <div>
      <ion-thumbnail slot="start">
          <img
            src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/l2ezB41chGDjXcKo24lseuXYtKP.jpg"
          />
        </ion-thumbnail>
      </div>
      <pre> </pre>
      <div class="gameof">
        <ion-label
          >Game of Thrones
          <ion-badge color="red" slot="end">16</ion-badge>
          <ion-label>
            <p>17/04/2011 (BR) 1h 26m</p>
          </ion-label>
        </ion-label>

        <div class="categoria">
          <ion-chip color="ciano">
            <ion-label>Ação</ion-label>
          </ion-chip>

          <ion-chip color="danger">
            <ion-label>Fantasia</ion-label>
          </ion-chip>

          <ion-chip color="success">
            <ion-label> aventura</ion-label>
          </ion-chip>
        </div>
      </div>
    </ion-item>
  </div>
</ion-content>
