<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="red">Filmes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
  <ion-searchbar showCancelButton="never" placeholder="Pesquisar"></ion-searchbar>

    <ion-item>
      <div>
      <ion-thumbnail slot="start">
          <img
            src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/nib6Eyx8o1fS1awwfVYLALIayF7.jpg"
          />
      </ion-thumbnail> 
      </div>
      <pre> </pre>
      <div class="thor">
        <ion-label
          >Thor: Amor e Trovão
          <ion-badge color="laranja" slot="end">14</ion-badge>
          <ion-label>
            <p>08/07/2022 (BR) 1h 59m</p>
          </ion-label>
        </ion-label>
        <div class="categoria">
          <ion-chip color="ciano">
            <ion-label>Ação</ion-label>
          </ion-chip>

          <ion-chip color="danger">
            <ion-label>Fantasia</ion-label>
          </ion-chip>

          <ion-chip color="success">
            <ion-label>Aventura</ion-label>
          </ion-chip>
        </div>
      </div>
    </ion-item>

    <ion-item>
      <div>
      <ion-thumbnail slot="start">
          <img
            src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/iUISaZpTOjrjzlmodz0RhCDJSWB.jpg"
          />
        </ion-thumbnail> 
      </div>
      <pre> </pre>
      <div class="doutor">
        <ion-label
          >Doutor Estranho <ion-badge color="laranja" slot="end">14</ion-badge>
          <ion-label>
            <p>05/05/2022 (BR) 2h 6m</p>
          </ion-label>
        </ion-label>
        <div class="categoria">
          <ion-chip color="ciano">
            <ion-label>Ação</ion-label>
          </ion-chip>

          <ion-chip color="danger">
            <ion-label>Fantasia</ion-label>
          </ion-chip>

          <ion-chip color="success">
            <ion-label>Aventura</ion-label>
          </ion-chip>
        </div>
      </div>
    </ion-item>

    <ion-item>
      <div>
      <ion-thumbnail slot="start">
          <img
            src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/w6Jz1AgjscqBuS8qXBd0wUHz5zC.jpg"
          />
        </ion-thumbnail> 
      </div>
      <pre> </pre>
      <div class="jurassic">
        <ion-label
          >Jurassic World:Domínio
          <ion-badge color="amarelo" slot="end">12</ion-badge>
          <ion-label>
            <p>02/06/2022 (BR) 2h 27m</p>
          </ion-label>
        </ion-label>
        <div class="categoria">
          <ion-chip color="ciano">
            <ion-label>Ação</ion-label>
          </ion-chip>

          <ion-chip color="warning">
            <ion-label>Ficção científica</ion-label>
          </ion-chip>

          <ion-chip color="success">
            <ion-label> aventura</ion-label>
          </ion-chip>
        </div>
      </div>
    </ion-item>

    <ion-item>
      <div>
      <ion-thumbnail slot="start">
          <img
            src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/jeGvNOVMs5QIU1VaoGvnd3gSv0G.jpg"
          />
        </ion-thumbnail>
      </div>
      <pre> </pre>
      <div class="topgun">
        <ion-label
          >Top Gun: Maverick
          <ion-badge color="laranja" slot="end">14</ion-badge>
          <ion-label>
            <p>26/05/2022 (BR) 2h 11m</p>
          </ion-label>
        </ion-label>
        <div class="categoria">
          <ion-chip color="ciano">
            <ion-label>Ação</ion-label>
          </ion-chip>

          <ion-chip color="roxo">
            <ion-label>Drama </ion-label>
          </ion-chip>
        </div>
      </div>
    </ion-item>

    <ion-item>
      <div>
      <ion-thumbnail slot="start">
          <img
            src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/jRMVYSR55lvseGQOHJsAeMEUJ4z.jpg"
          />
        </ion-thumbnail>
      </div>
      <pre> </pre>
      <div class="mega">
        <ion-label
          >Megalodon <ion-badge color="laranja" slot="end">14</ion-badge>
          <ion-label>
            <p>10/08/2018 (BR) 1h 26m</p>
          </ion-label>
        </ion-label>
        <div class="categoria">
          <ion-chip color="ciano">
            <ion-label>Ação</ion-label>
          </ion-chip>

          <ion-chip color="warning">
            <ion-label>Ficção científica</ion-label>
          </ion-chip>

          <ion-chip color="success">
            <ion-label>Aventura</ion-label>
          </ion-chip>
        </div>
      </div>
    </ion-item>
  </div>
</ion-content>
